<!-- Footer -->
<div>
  <footer class="page-footer font-small" id="dark">
    <div class="container  tam" >
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 tam">
  
          <!-- Content -->
          <h3 ><fa-icon [icon]="faShoppingBag"></fa-icon> Company name</h3>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p class="colorlink">Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.</p>
            <hr>
            <p> <small>
              <fa-icon [icon]="faMap"></fa-icon> New York, NY 10012, US</small></p>
            
            <p><small>
              <fa-icon [icon]="faPhone"></fa-icon> + 01 234 567 88</small></p>

              <p><small>
                <fa-icon [icon]="faEnvelope"></fa-icon> info@example.com</small></p>

        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 tam">
          <h6 class="text-uppercase ">Colecction</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="colorlink">Summer 20172</a>
            </li>
            <li>
              <a href="#!" class="colorlink">Women's Dress</a>
            </li>
            <li>
              <a href="#!" class="colorlink">Women's Jackets</a>
            </li>
            <li>
              <a href="#!" class="colorlink">Men's Sweats Shirts</a>
            </li>
            <li>
              <a href="#!" class="colorlink">Men's Dress</a>
            </li>
            <li>
              <a href="#!" class="colorlink">Accesories</a>
            </li>
            <li>
              <a href="#!" class="colorlink">Travel Bags</a>
            </li>
          </ul>
  
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 tam">
  
          <!-- Links -->
          <h6 class="text-uppercase ">Customere Care</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="colorlink">Order Tracking</a>
            </li>
            <li>
              <a href="#!" class="colorlink">The Privacy Policy</a>
            </li>
            <li>
              <a href="#!" class="colorlink">Payments & Returns</a>
            </li>
            <li>
              <a href="#!" class="colorlink">Product Care</a>
            </li>
            <li>
              <a href="#!" class="colorlink">FAQ's</a>
            </li>
            <li>
              <a href="#!" class="colorlink">Shipping Information</a>
            </li>
            <li>
              <a href="#!" class="colorlink">Accounts Setting</a>
            </li>
          </ul>
         
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 tam">
  
          <!-- Links -->
          <h6 class="text-uppercase ">Suscribe for more updates</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p class="colorlink"> Sign up for Newlester to Get all the information on Events, Offers, Sales and More.</p>
          <div class="row text-center justify-content-center">
            <div class="form-group row">
              <div class="col-md-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">                
              </div>
              <button><fa-icon [icon]="faPapperplane"></fa-icon></button>
            </div>
          </div>
          <hr>
          

            
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>

  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" id="copy"> Copyrights © 2020. Company All Rights Reserved
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</div>
