#copy{
    background-color: black;
    color: white;
}

#dark{
    background-color: #191919;
    color: white;
    border-top: #191919;
    
}
.tam{
    margin-top: 2%;
}

.colorlink{
    color:lightgrey;
    font-size: small;
}

button {

    color: #fff;
    background-color: #191919;
    border: none;
    border-radius: 3px;
    position: relative;
    
  }