
  <div id="firstnav">
    <nav class="navbar navbar-expand-sm  " id="navbarText">
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <h6><fa-icon [icon]="faTruck"></fa-icon> Free Shipping on Order above $199</h6>
          </li>
          
        </ul>
        <span class="navbar-text">
            <ul class="navbar-nav mr-auto" >
              <li class="nav-item">
                <a class="nav-link" href="#" id="firstnav"> <fa-icon [icon]="faUser" id="firstnav"></fa-icon> My Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="firstnav">Login/Register</a>
              </li>
            </ul>
          
        </span>
      </div>
    </nav>
  </div>

  

  <div  >
    <nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5 mb-4" id="secondnav">
      <h2><fa-icon [icon]="faShoppingBag"></fa-icon> Company    </h2>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline" id="orientation">
          <input class="form-control form-control-md ml-5 orientation" type="text"  placeholder="Search" aria-label="Search">
        </form>
        
        <ul class="navbar-nav mr-auto">  
          <li class="nav-item dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All Categories
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Man</a>
              <a class="dropdown-item" href="#">Woman</a>
              <a class="dropdown-item" href="#">Kids</a>
            </div>
          </li>
          <span class="input-group-text"><fa-icon [icon]="faSearch" id="coloricon"></fa-icon></span> 
        </ul>

         
      </div>
     </nav>
  </div>

  
<div >
  <nav class="mb-1 navbar navbar-expand-lg " id="navbarText">
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link nav-link2" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link2" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link2" href="#">New Arrivals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link2" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link2" href="#">Brand</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link2" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link2" href="#">Contact</a>
        </li>
  
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown">
          <a class="dropdown-toggle"  data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <fa-icon [icon]="faShoppingCart" id="coloricon2"></fa-icon>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default"
            aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
</div>
