#firstnav{
    background-color: black !important;
    color: white;
}

#navbarText{
    margin-left: 15%;
    margin-right: 15%;
}

#secondnav{
    margin:2%;
    margin-left: 15%;
    margin-right: 15%;
}

#dropdownMenuButton{
    border-color: lightgray;
    color: gray;
}

span.input-group-text{
    background-color: black;
}

#coloricon{
    color: white;
}

#coloricon2{
    color: black;
}

.orientation{
    margin-left: 10%;
}

a.nav-link2{
    color: black !important;
}

