::ng-deep.carousel-control-prev-icon{
    width: 100px !important;
    background-color:#000000;
}

#contenedor-fotos{
    margin: 2%;
}

#contenedor {
    margin-left: 15%;
    margin-right: 15%;
}

div.centrar{
    text-align: right;
}

.tam{
    height: 150px !important;
}

div.colordiv{
    background-color: #F8F8F8;
}

.carousel-control-prev-icon{
    background-color:#000000;
    max-width: 20px;
}

.carousel-control-next-icon{
    background-color:#000000;
    max-width: 20px;

}

.tamcar{
    height: 500px !important;
}